// Colors!
@black: #333444;

@blue: #1E79DA;
@turquoise: #1F9CDF;
@red: #E71A18;
@pink: #EC1A6E;
@orange: #EA6517;
@green: #18DEA6;
@yellow: #E7CE17;

// Breakpoints!
@screen-portrait: 376px;
@screen-landscape: 568px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

// Spacing!
@base-space: 10px;

// Type!
@font-family: 'Fira Sans', sans-serif;
@font-size: 16px;

// Buttons!
@button-size: 46px;
@button-h-padding: ((@button-size - @font-size)/2);
